.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/peak_post_processing_multiple_animals-checkpoint.ipynb
.ipynb_checkpoints/initial_photometry_behaviour_correlation-checkpoint.ipynb
.ipynb_checkpoints/
.idea/
utils/__pycache__/
utils/value_change_data/
upgrade_plotting/__pycache__/