.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/peak_post_processing_multiple_animals-checkpoint.ipynb
.ipynb_checkpoints/initial_photometry_behaviour_correlation-checkpoint.ipynb
.ipynb_checkpoints/
.idea/
utils/__pycache__/
utils/value_change_data/
upgrade_plotting/__pycache__/
sesstrace.prof
data_preprocessing/__pycache__/
linear_regression/__pycache__/
test.py
utils/regression/__pycache__/
utils/zscored_plots/__pycache__/
